.cost-item {
    display: flex;
    justify-content: space-between;
    background: #dcddff;
    padding: 20px;
    align-items: center;
    border: 1px #a4a7ff solid;
    margin-bottom: 20px;
}

.cost-item:last-child {
    margin-bottom: 0;
}